.MoviesCard {
	background: #222222;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	overflow: hidden;
	transition: box-shadow 0.3s ease 0s;
}

.MoviesCard__image-container {
	width: 100%;
	position: relative;
	padding-bottom: 55.77%;
	display: block;
}

.MoviesCard:hover {
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 35%);
}

.MoviesCard__image {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
}

.MoviesCard__like {
	border: none;
	background-color: transparent;
	background-image: url('../../images/MoviesCard/like-off.svg');
	background-repeat: no-repeat;
	width: 14px;
	height: 12px;
	margin-right: 8px;
    margin-top: 4px;
	cursor: pointer;
}

.MoviesCard__delete-like {
	border: none;
	background-color: transparent;
	background-image: url('../../images/MoviesCard/delete-movie.svg');
	background-repeat: no-repeat;
	padding: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-position: center center;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

.MoviesCard__like_liked {
	background-image: url('../../images/MoviesCard/like-on.svg');
}

.MoviesCard__title {
	margin: 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	max-width: 253px;
}

.MoviesCard__content {
	padding: 9px 16px;
}

.MoviesCard__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.MoviesCard__duration {
	margin-top: 12px 0 0 0;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	color: #8B8B8B;
}

.MoviesCard:hover .MoviesCard__delete-like {
	opacity: 1;
}

.MoviesCard__error-like {
	position: absolute;
	color: white;
	width: 100%;
	text-align: center;
	top: -50px;
}

@media screen and (max-width: 768px) {
	.MoviesCard__content {
		padding: 14px;
	}

	.MoviesCard__duration {
		margin: 15px 0 0 0;
	}

	.MoviesCard__image-container {
		padding-bottom: 56.05%;
	}

	.MoviesCard__delete-like {
		opacity: 1;
	}

}

@media screen and (max-width: 480px) {
	.MoviesCard__title {
		font-size: 12px;
		line-height: 15px;
	}

	.MoviesCard__duration {
		font-size: 10px;
		line-height: 12px;
		margin-top: 14px;
	}

	.MoviesCard__like {
		margin-right: 5px;
   		margin-top: 3px;
	}
}