.Form {
	display: flex;
	height: 100vh;
	flex-direction: column;
	max-width: 396px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 70px 0;
}

.Form__title {
	margin: 40px 0;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

.Form__logo {
	max-width: 38px;
}

.Form__form {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.Form__input {
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #424242;
	font-size: 14px;
	line-height: 17px;
	background-color: transparent;
	color: white;
}

.Form__label-text {
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #8B8B8B;
}

.Form__submit {
	width: 100%;
	min-height: 45px;
	background-color: #4285F4;
	border: none;
	color: white;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
}

.Form__submit-container {
	display: flex;
    flex: 1 1 auto;
    flex-direction: column-reverse;
}

.Form__label {
	margin-bottom: 24px;
}

.Form__label:last-child {
	margin-bottom: 0;
}

.Form__input:focus {
	border-bottom: 1px solid #FF6838;
  }

@media screen and (max-width: 768px) {
	.Form {
		padding: 232px 30px;
	}
}

@media screen and (max-width: 480px) {
	.Form {
		padding: 56px 30px 30px;
	}

	.Form__title {
		text-align: center;
	}

	.Form__logo {
		margin: 0 auto;
	}

}