.Portfolio {
	background-color: #202020;
	color: white;
	padding: 0 0 125px;
	display: flex;
    justify-content: center;
}

.Portfolio__title {
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #8B8B8B;
}

.Portfolio__list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-top: 50px;
}

.Portfolio__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	position: relative;
	transition: opacity 0.3s ease 0s;
}

.Portfolio__item::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: #424242;
	left: 0;
	bottom: -19px;
}

.Portfolio__item:last-child::after {
	content: '';
	width: 0;
	height: 0;
}

.Portfolio__link {
	font-weight: 400;
	font-size: 30px;
	line-height: 50px;
	letter-spacing: -0.04em;
	color: white;
	text-decoration: none;
}

.Portfolio__item:hover {
	cursor: pointer;
	opacity: 0.7;
}

@media screen and (max-width: 768px) {
	.Portfolio {
		padding: 0 0 90px;
	}

	.Portfolio__link {
		font-size: 28px;
		line-height: 50px;
	}
}

@media screen and (max-width: 480px) {
	.Portfolio {
		padding: 0 0 70px;
	}

	.Portfolio__title {
		font-size: 14px;
		line-height: 20px;
	}

	.Portfolio__link {
		font-size: 18px;
		line-height: 28px;
	}

	.Portfolio__list {
		margin-top: 40px;
	}

	.Portfolio__image {
		width: 11px;
	}
}